<div class="row mt-2">
    <div [ngClass]="isForm ? 'col-md-12' : 'col-md-8' ">
        <div class="card">
            <div class="card-header bg-warning">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Item</h4>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-success float-end" (click)="onAdd()">Add Item</button>
                    </div>
                </div>
            </div>
            <app-loader *ngIf="isLoading"></app-loader>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Item Name</th>
                                    <th>Category Name</th>
                                    <th>Unit</th>
                                    <th>GST No.</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="itemList.length == 0">
                                <tr>
                                    <td colspan="6" class="text-center">No Record Found</td>
                                </tr>
                            </ng-container>
                           <ng-container *ngIf="itemList.length !== 0">
                            <tbody>
                                <tr *ngFor="let data of itemList; let no=index">
                                    <td>{{no+1}}</td>
                                    <td>{{data.itemName | titlecase}}</td>
                                    <td>{{data.categoryName | titlecase}}</td>
                                    <td>{{data.unit}}</td>
                                    <td>{{data.gstNo}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary me-2"
                                            (click)="onEdit(data.itemId)">Edit</button>
                                        <button class="btn btn-sm btn-danger"
                                            (click)="onDelete(data.itemId,itemObj)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                           </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="!isForm">
        <div class="card">
            <div class="card-header bg-warning">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Add Item</h4>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-success float-end" (click)="onClose()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Item Name <span class="text-danger">*</span></label>
                            <input type="text" name="itemName" id="" class="form-control"
                                [(ngModel)]="itemObj.itemName" required #itemName="ngModel">
                            <div class="text-danger" *ngIf="itemName.touched">
                                <span *ngIf="itemName.errors?.['required']">This field is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Category Name <span class="text-danger">*</span></label>
                            <select name="categoryName" id="" class="form-control" [(ngModel)]="itemObj.categoryId">
                                <option value="" *ngFor="let data of categoryList" [value]="data.categoryId">
                                    {{data.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">GST No.<span class="text-danger">*</span></label>
                            <input type="text" name="gstNo" id="" class="form-control"
                                [(ngModel)]="itemObj.gstNo" required #gstNo="ngModel">
                                <div class="text-danger" *ngIf="gstNo.touched">
                                    <span *ngIf="gstNo.errors?.['required']">This field is required</span>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Unit<span class="text-danger">*</span></label>
                            <input type="text" name="unit" id="" class="form-control"
                                [(ngModel)]="itemObj.unit" required #unit="ngModel">
                                <div class="text-danger" *ngIf="unit.touched">
                                    <span *ngIf="unit.errors?.['required']">This field is required</span>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary me-2" (click)="onSave()" *ngIf="isSave" [disabled]="!form.form.valid">Save</button>
                <button class="btn btn-sm btn-primary me-2" (click)="onUpdate(itemObj)" *ngIf="!isSave">Update</button>
                <button class="btn btn-sm btn-danger" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
</div>