
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-5 text-center">
                <div class="card bg-primary bg-opacity-50 mb-4 border-dark">
                    <div class="card-body">
                        <h2 class="text-dark">Category <br> {{dashboardObj.totCategory}} </h2></div>
                    <div class="card-footer bg-primary d-flex">
                        <a class="nav-link" href="category"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <div class="card bg-secondary bg-opacity-50 mb-4 border-dark">
                    <div class="card-body">
                        <h2 class="text-dark">Item </h2></div>
                    <div class="card-footer bg-secondary d-flex">
                        <a class="nav-link" href="item"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <div class="card bg-success bg-opacity-50 mb-4 border-dark">
                    <div class="card-body">
                        <h2 class="text-dark">Dealer <br>{{dashboardObj.totDealer}}</h2></div>
                    <div class="card-footer bg-success d-flex">
                        <a class="nav-link" href="dealer"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <div class="card bg-danger bg-opacity-50 mb-4 border-dark">
                    <div class="card-body">
                        <h2 class="text-dark">Purchase <br> {{dashboardObj.todayPurchase}}</h2></div>
                    <div class="card-footer bg-danger d-flex">
                        <a class="nav-link" href="purchase"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <div class="card bg-warning bg-opacity-50 mb-4 border-dark">
                    <div class="card-body">
                        <h2 class="text-dark">Sale <br> {{dashboardObj.totSale}}</h2></div>
                    <div class="card-footer bg-warning d-flex">
                        <a class="nav-link" href="sale"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5 text-center">
                <div class="card text-white bg-info bg-opacity-50 mb-4 border-dark">
                    <div class="card-body ">
                        <h3 class="text-dark">Today's Sale <br> {{dashboardObj.todaysSale}}</h3></div>
                    <div class="card-footer bg-info d-flex">
                        <a class="nav-link" href="stock"><p class="text-white">View Details</p></a>
                        <div class="text-white"><i class="fas fa-angle-right fontarow"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
